@import 'vars';

nav {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	border-bottom: 1px solid var(--very-light-pink);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--white);
}
.menu {
	display: none;
	cursor: pointer;
	transition: .5s;
}
.nav-logo {
	width: 100px;
}
.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
}
.navbar-left {
	display: flex;
}
.navbar-left ul {
	margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
	text-decoration: none;
	color: var(--very-light-pink);
	border: 1px solid var(--white);
	padding: 8px;
	border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
}
.navbar-email {
	color: var(--very-light-pink);
	font-size: var(--sm);
	margin-right: 12px;
}
.navbar-shopping-cart {
	position: relative;
	transition: .5s;
}

.navbar-shopping-cart:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: .3s;
}

.navbar-shopping-cart div {
	width: 16px;
	height: 16px;
	background-color: var(--hospital-green);
	border-radius: 50%;
	font-size: var(--sm);
	font-weight: bold;
	position: absolute;
	top: -6px;
	right: -3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 640px) {
	.menu {
		display: block;
	}
	.navbar-left ul {
		display: none;
	}
	.navbar-email {
		display: none;
	}
}


.burguer-menu {
	display: none;
	flex-direction: column;
	gap: 20px;
	padding: 0 24px;
	box-sizing: border-box;
	background-color: var(--white);
	position: fixed;
	top: 60px;
	bottom: 0;
	left: 0;
	width: 100%;
}

.menu:hover {
	transform: scale(1.2);
	transition: .3s;
}

.burguer-menu h2 {
	color: var(--hospital-green);
}

.burguer-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 20px;
}

.burguer-menu ul li a{
	text-decoration: none;
	color: var(--black);
	font-size: var(--lg);
	margin-bottom: 20px;
}

.burguer-menu ul li{
	margin-bottom: 15px;
	font-size: var(--lg);
	cursor: pointer;
}

.burguer-menu ul .email{
	color: var(--very-light-pink);
	cursor: auto;
}

.active {
	display: flex;
}