@import 'vars';

.MyOrder {
	width: 360px;
	padding: 0 24px;
	box-sizing: border-box;
	position: fixed;
	right: 0;
	background-color: white;
	top: 60px;
	bottom: 0;
	border: 1px solid var(--very-light-pink);
	border-right: 0;
	overflow-y: scroll;
	animation: initMyOrder .3s ease-in-out;
}

@keyframes initMyOrder {
	0%{
		opacity: 0;
		transform: translate(100%);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.title-container {
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	border-top: 24px solid var(--white);
	background-color: var(--white);
}

.title-container img {
	animation: arrow .5s ease-in-out;
	animation-direction: reverse;
}

.title-container:hover {
	cursor: pointer;
	display: flex;
	position: relative;
}

.title-container:hover::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 2px;
	width: 12px;
	height: 3px;
	background-color: var(--very-light-pink);
	animation: arrow .5s ease-in-out;
}

@keyframes arrow {
	0% {
		opacity: 0;
		transform-origin: left;
		transform: rotate(-90deg);
	}
	100%{
		opacity: 1;
		transform-origin: left;
		transform: rotate(0deg);
	}
}

.title-container:hover img{
	transform: scale(1.5) rotate(180deg);
	transition: .3s;
}

.title-container img {
	margin-right: 14px;
	transition: .5s;
}

.title {
	font-size: var(--lg);
	font-weight: bold;
	margin: 20px 0 !important;
}
.order {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
	background-color: var(--text-input-field);
	margin-bottom: 24px;
	border-radius: 8px;
	padding: 0 24px;
}
.order p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.order p span:nth-child(1) {
	font-size: var(--md);
	font-weight: bold;
}
.order p:nth-child(2) {
	text-align: end;
	font-weight: bold;
}

.primary-button {
	background-color: var(--hospital-green);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}
@media (max-width: 640px) {
	.MyOrder {
		width: 100%;
	}
}
